export const API_BASE_URL = "{{ api_base_url }}";
export const THEME_TITLE = "{{ theme_title }}";
export const THEME_SUBTITLE = "{{ theme_subtitle }}";
export const THEME_ACCENT = "{{ theme_accent }}";
export const LANDING_ROUTE_PREFIX = "{{ landing_route_prefix }}";
